<div class="subtitle">
  <h2>Mais <span>recentes</span></h2>
  <div class="spacer"></div>
</div>
<div class="container">  
  <div class="card">
    <img src="/assets/product-images/placas.png" alt="Produto">
    <h3>Decoração Programador 15x15x1</h3>    
    <p>Docker, AWS, Java e GitHub.</p>
    <h4>R$449.90</h4><span>R$360.90</span>
    <div class="icons">
      <a href="" class="detalhe-produto-btn"><fa-icon [icon]="faEye"></fa-icon></a>
      <a href="" class="adicionar-produto-carrinho-btn"><fa-icon [icon]="faShoppingCart"></fa-icon></a>
    </div>  
    </div>
  <div class="card">
    <img src="/assets/product-images/teclado.webp" alt="Produto">
      <h3>Teclado Keychron K2 V2</h3>
      <p>Switch Gateron Pro vermelho, RGB Backlight + lateral de aluminio.</p>
      <h4>R$899.90</h4><span>R$1199.90</span>    
      <div class="icons">
        <a href="" class="detalhe-produto-btn"><fa-icon [icon]="faEye"></fa-icon></a>
        <a href="" class="adicionar-produto-carrinho-btn"><fa-icon [icon]="faShoppingCart"></fa-icon></a>
      </div>
    </div>
  <div class="card">
    <img src="/assets/product-images/camiseta.webp" alt="Produto">
      <h3>Camiseta Python</h3>
      <p>Camiseta com estampa da linguagem de programação Python.</p>
      <h4>R$89.90</h4><span>R$119.90</span>    
      <div class="icons">
        <a href="" class="detalhe-produto-btn"><fa-icon [icon]="faEye"></fa-icon></a>
        <a href="" class="adicionar-produto-carrinho-btn"><fa-icon [icon]="faShoppingCart"></fa-icon></a>
      </div>
    </div>
  <div class="card">
    <img src="/assets/product-images/canecavscode.webp" alt="Produto">
      <h3>Caneca VS Code</h3>
      <p>Caneca para programador da IDE VS Code.</p>
      <h4>R$99.90</h4><span>R$69.90</span>    
      <div class="icons">
        <a href="" class="detalhe-produto-btn"><fa-icon [icon]="faEye"></fa-icon></a>
        <a href="" class="adicionar-produto-carrinho-btn"><fa-icon [icon]="faShoppingCart"></fa-icon></a>
      </div>
    </div>
</div>