<footer class="footer">
  <main class="container">
    <section class="row">
      <article class="footer-col">
        <header>
          <h4>Quem somos?</h4>
        </header>
        <main>
          <ul>
            <li>
              <span>
                Entusiastas por Desenvolvimento e Segurança da Informação, 
                estudantes de Ciência da Computação, e desejamos explorar esse maravilhoso mundo da <strong>Tecnologia.</strong>
              </span>
            </li>
          </ul>
        </main>
      </article>
      <article class="footer-col">
        <header>
          <h4>Integrantes</h4>
        </header>
        <main>
          <ul>
            <li><a href="https://github.com/guifami">Guilherme Ruiz</a></li>
            <li><a href="https://github.com/rafaelruizsilva">Rafael Ruiz</a></li>
          </ul>
        </main>
      </article>
      <article class="footer-col">
        <header>
          <h4>Suporte</h4>
        </header>
        <main>
          <ul>
            <li><a>Contatos</a></li>
          </ul>
        </main>
      </article>
      <article class="footer-col">
        <header>
          <h4>Siga-nos</h4>
        </header>
        <main class="social-links">
          <a href=""><fa-icon [icon]="faFacebookF"></fa-icon></a>
          <a href=""><fa-icon [icon]="faInstagram"></fa-icon></a>
          <a href=""><fa-icon [icon]="faLinkedinIn"></fa-icon></a>
        </main>
      </article>
      <p>&copy; Todos os direitos reservados.</p>
    </section>
  </main>
</footer>