:root{
    --navbar: #ffffff;
    --navbar-border: solid 1px rgba(84, 84, 84, 0.3);
    --footer-border: solid 1px rgba(84, 84, 84, 0.3);
    --cart-border: solid 1px rgba(84, 84, 84, 0.3);
    --login-register-box-shadow: #bfbfbf;
    --loading-first: #081d3d;
    --loading-second: #30cfd3;
    --login-texts: #103d55;
    --border-user-options: #cbcbcb;
    --cart-shadow: #d5d5d5d4;
    --saiba-mais-color: #0b6292;
    --hover-color: #085077;
    --hover-card-color: #f2f2f2;
    --second-color: #0b6292;
    --light-black: #222222;
    --green: #00902b;
    --red: #d30000;
    --black: #13131a;
    --white: #ffffff;
    --light: #f8f8f8;
    --gray: #5b5b60;
}

body{
    background: var(--light);
}