<div class="container">
  <div class="card">
    <img src="/assets/product-images/mochila.png" alt="Produto">
    <h3>Produto 1</h3>    
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
    <h4>R$69.99</h4><span>R$119.99</span>
    <div class="icons">
      <a href="" class="detalhe-produto-btn"><fa-icon [icon]="faEye"></fa-icon></a>
      <a href="" class="adicionar-produto-carrinho-btn"><fa-icon [icon]="faShoppingCart"></fa-icon></a>
    </div>  
    </div>
  <div class="card">
    <img src="/assets/product-images/mochila.png" alt="Produto">
      <h3>Produto 1</h3>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
      <h4>R$69.99</h4><span>R$119.99</span>    
      <div class="icons">
        <a href="" class="detalhe-produto-btn"><fa-icon [icon]="faEye"></fa-icon></a>
        <a href="" class="adicionar-produto-carrinho-btn"><fa-icon [icon]="faShoppingCart"></fa-icon></a>
      </div>
    </div>
  <div class="card">
    <img src="/assets/product-images/mochila.png" alt="Produto">
      <h3>Produto 1</h3>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
      <h4>R$69.99</h4><span>R$119.99</span>    
      <div class="icons">
        <a href="" class="detalhe-produto-btn"><fa-icon [icon]="faEye"></fa-icon></a>
        <a href="" class="adicionar-produto-carrinho-btn"><fa-icon [icon]="faShoppingCart"></fa-icon></a>
      </div>
    </div>
  <div class="card">
    <img src="/assets/product-images/mochila.png" alt="Produto">
      <h3>Produto 1</h3>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
      <h4>R$69.99</h4><span>R$119.99</span>    
      <div class="icons">
        <a href="" class="detalhe-produto-btn"><fa-icon [icon]="faEye"></fa-icon></a>
        <a href="" class="adicionar-produto-carrinho-btn"><fa-icon [icon]="faShoppingCart"></fa-icon></a>
      </div>
    </div>
  <div class="card">
    <img src="/assets/product-images/mochila.png" alt="Produto">
      <h3>Produto 1</h3>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
      <h4>R$69.99</h4><span>R$119.99</span>    
      <div class="icons">
        <a href="" class="detalhe-produto-btn"><fa-icon [icon]="faEye"></fa-icon></a>
        <a href="" class="adicionar-produto-carrinho-btn"><fa-icon [icon]="faShoppingCart"></fa-icon></a>
      </div>
    </div>
  <div class="card">
    <img src="/assets/product-images/mochila.png" alt="Produto">
      <h3>Produto 1</h3>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
      <h4>R$69.99</h4><span>R$119.99</span>    
      <div class="icons">
        <a href="" class="detalhe-produto-btn"><fa-icon [icon]="faEye"></fa-icon></a>
        <a href="" class="adicionar-produto-carrinho-btn"><fa-icon [icon]="faShoppingCart"></fa-icon></a>
      </div>
    </div>
</div>