@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

section{
    padding: 2rem 15%;
	max-width: 1600px;
    margin: 0 auto;
    margin-bottom: 2rem;
}
  
.typing-demo {
  width: 36ch;
  animation: typing 2s steps(36), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
}

@keyframes typing {
  from {
    width: 0;
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.home{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-top: 7rem;
    position: relative;
}

.home .content{
    flex: 1 1 40rem;
}

.home .image{
    flex: 1 1 15rem;
}

.home .image img{
    width: 90%;
}

.home .content h3{
    display: none;
    color: var(--black);
}

.home .content p{
    font-size: 1.1rem;
    color: var(--gray);
    line-height: 1.2;
    padding: 1rem 0;
}

.saiba-mais-btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .5rem 2rem;
    font-size: 1.2rem;
    cursor: pointer;
    color: var(--white);
    background: var(--saiba-mais-color);
    transition: 0.2s ease;
    overflow: hidden;
    z-index: 0;
}

.saiba-mais-btn:hover{
    background: var(--hover-color);
    transition: 0.2s ease;
}

/* Media Queries */

@media (max-width: 1324px){
    .home .image img{
        display: none;
    }
}

@media (max-width: 1110px){
    .home .content{
        flex: 1 1 100rem;
    }
}

@media (max-width: 991px){
    section{
        padding: 2rem;
    }
}

@media (max-width: 640px){

    section{
        padding: 2rem 3%;
    }
    
    .home{
        padding-top: 8rem;
    }

    .typing-demo{
        font-size: 1.4rem;
    }
    
    .home .content p{
        font-size: 0.9rem;
    }
    
    .saiba-mais-btn{
        font-size: 1rem;
    }
}

@media (max-width: 640px){
    
    .typing-demo{
        font-size: 1.1rem;
    }
    .home .content p{
        font-size: 1rem;
    }

}

@media (max-width: 380px){

    .typing-demo{
        display: none;
    }
    .home .content h3{
        display: block;
        font-size: 1rem;
        font-family: monospace;
        font-weight: 400;
    }

}