<section class="home" id="home">

  <div class="content" data-aos="fade-right">
    <div class="wrapper">
      <div class="typing-demo">
        Produtos para você Desenvolvedor(a).
      </div>
  </div>
    <h3>Produtos para você Desenvolvedor(a).</h3>
    <p>Equipe seu Work Office com os melhores produtos de tecnologia.</p>
    <a class="saiba-mais-btn">Saiba mais</a>
  </div>

  <div class="image" data-aos="fade-left">
    <img src="/assets/home-images/home-image.png" alt="Imagem contendo a logo das principais tecnologias do mercado.">
  </div>

</section>